* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin: 0;
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(assets/font/montserrat.ttf);
}


/* ===BODY=== */

body {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    background-size: cover;
    background-image: url(assets/images/body_background.png);
}
body::after{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color:#002855;
    opacity: 0.5;
    z-index: -1;
}

/* ===FORM=== */
form {
    display: flex;
    flex-direction: column;
    align-items:center;
    position: relative;
    padding: 75px 0 86px 0;
    max-width: 920px;
    width: 100%;
    background-color: #fff;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

/* ===BOTTON=== */
.form__btn-close{
    position: relative;
    outline: none;
    border: 0;
    background: transparent;
}
.form__btn-close::before{
    content:'';
    position: absolute; 
    width: 35px;
    height: 35px;
    top: -93px;
    left: -17px;
    background-image:url(assets/images/btn-close.svg);
    
}
.form__btn:hover{
    cursor: pointer;
}

/* ===NAV=== */
.form__nav {
    max-width: 299px;
    width: 100%;
    margin: 0 auto;
}

.form__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}


.form__link {
    text-decoration: none;
    font-family: Roboto;
    font-size: 12px;
    color: #b8b9b9;
}

.form__item a:hover,
.form__item a.form__link--active{
    color: #767777;
}

/* ===TITEL=== */
.form__titel {
    text-align: center;
    font-family: Montserrat-Bold;
    font-size: 38px;
    margin-top: 17px;
    color: #0e1010;
    position: relative;
}
.form__titel::before{
    content: '';
    position: absolute;
    top: 65px;
    left: 207px;
    width: 63px;
    height: 7px;
    background-image:url(assets/images/header_wave.png)
}
.form__titel::after{
    content: '';
    position: absolute;
    top: -75px;
    left: 207px;
    width: 63px;
    height: 7px;
    background-image:url(assets/images/header_wave.png)
}

/*====INPUT/TEXTAREA TOP-FORM===*/
.form__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 28px 0 50px 0;
    margin-top: 65px;
    position: relative;
    background-color:#f8f8f8; 
}

.form__textarea {
    outline: none;
    width: 500px;
    padding: 14px 30px;
    margin-top: 22px;
    min-height: 147px;
    border: 1px solid #DBDBDB;
    color: #394b50;
    font-family: Roboto;
    font-size: 16px;
    resize: none;
}

.form__textarea:focus{
    background: #d3e6f4;
}
.form__input:focus{
    background: #d3e6f4;
}

.form__input{
    width: 500px;
    height: 40px;
    margin-top: 22px;
    padding: 14px 30px;
    border: 1px solid #DBDBDB;
    outline: none;
    
}
.form__input-btn{
    cursor:pointer;
    background:none;
    border:none;
    width: 209px;
    height: 66px;
    font-family: Roboto;
    color:#fff;
    font-size:24px;
    background:#16ba98;
    position: absolute;
    top:590px;
}

/*====INPUT/TEXTAREA CAPTCHA===*/
.form__captcha{
    display: flex;
    max-width: 500px;
    margin-top: 40px;
}
.form__input-captha{
    outline: none;
    width: 320px;
    padding: 14px 30px;
    border: 1px solid #DBDBDB;
    color: #394b50;
    font-family: Roboto;
    font-size: 16px;
}
.form__span{
    color: #82a6bf;
}
.form__img{
    margin-left: 20px;
}
